[Unit]
Description=Onduty Server
After=syslog.target
After=network.target

[Service]
Type=forking
SyslogIdentifier=onduty
User=onduty
Group=onduty
PIDFile=/srv/onduty/tmp/puma.pid
WorkingDirectory=/srv/onduty
Environment="RACK_ENV=production"
ExecStart=bin/puma -b unix://tmp/puma.sock --pidfile tmp/puma.pid --state tmp/puma.state config.ru
ExecReload=/bin/kill -s SIGUSR2 $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
TimeoutSec=15

[Install]
WantedBy=multi-user.target
