[Unit]
Description=Onduty Server
After=syslog.target
After=network.target

[Service]
Type=forking
SyslogIdentifier=onduty
User=onduty
Group=onduty
PIDFile=/srv/onduty/tmp/puma.pid
WorkingDirectory=/srv/onduty
Environment="RACK_ENV=production"
ExecStart=/srv/onduty/bin/puma -C config/puma.rb config.ru
ExecReload=/bin/kill -s SIGUSR2 $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
TimeoutSec=10

[Install]
WantedBy=multi-user.target
